<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.service.api.dao.UserRechargeMapper">
	<resultMap id="rechargeResultMap" type="com.service.bean.UserRecharge">
		<id column="rechargeId" property="rechargeId" jdbcType="INTEGER" />
		<result column="userId" property="userId" jdbcType="INTEGER" />
		<result column="totalMoney" property="totalMoney" jdbcType="DECIMAL" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="beginTime" property="beginTime" jdbcType="TIMESTAMP" />
		<result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
		<result column="validDays" property="validDays" jdbcType="INTEGER" />
		<result column="isValid" property="isValid" jdbcType="INTEGER" />
	</resultMap>

	<sql id="BASE_COLUMN">
		rechargeId,userId,totalMoney,createTime,beginTime,endTime,validDays,isValid
	</sql>
	<insert id="insertRecharge" parameterType="com.service.bean.UserRecharge"
		keyProperty="rechargeId">
		insert into userrecharge (userId,
		totalMoney,createTime,beginTime,endTime,validDays,isValid)
		values
		(#{userId},
		#{totalMoney},now(),now(),#{endTime},#{validDays},#{isValid})
	</insert>

	<update id="updateRecharge" parameterType="com.service.bean.UserRecharge">
		update userrecharge
		<set>
			<if test="totalMoney>0">
				totalMoney=#{totalMoney},
			</if>
			<if test="endTime!=null and endTime!=''">
				endTime=#{endTime},
			</if>
			<if test="validDays>0">
				validDays=#{validDays},
			</if>
			<if test="isValid>0">
				isValid=#{isValid},
			</if>
		</set>
		where userId=#{userId} and rechargeId=#{rechargeId}
	</update>
	<select id="selectRechargeByuserId" resultType="com.service.bean.UserRecharge"
		parameterType="java.lang.Integer">
		select
		<include refid="BASE_COLUMN"></include>
		from userrecharge
		where userId=#{userId}
	</select>

	<!-- 查询即将到期的会员 -->
	<select id="selectExpireUser" resultMap="rechargeResultMap"
		parameterType="java.lang.String">
		select
		<include refid="BASE_COLUMN"></include>
		from userrecharge
		WHERE endTime&lt;=#{endTime} and isValid=2
	</select>
</mapper>