<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.service.api.dao.UserInviteMapper">
	<resultMap id="imgResultMap" type="com.service.bean.UserInvite">
		<id column="inviteId" property="inviteId" jdbcType="INTEGER" />
		<result column="inviteUserId" property="inviteUserId" jdbcType="INTEGER" />
		<result column="inviteCode" property="inviteCode" jdbcType="VARCHAR" />
		<result column="registerUserId" property="registerUserId"
			jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		inviteId,inviteUserId,inviteCode,registerUserId
	</sql>

	<insert id="insertInvite" parameterType="com.service.bean.UserInvite">
		insert into userinvite
		(inviteUserId, inviteCode, registerUserId)
		values
		(#{inviteUserId},#{inviteCode},#{registerUserId})
	</insert>
	<!-- 根据注册人 找到邀请人 -->
	<select id="selectInviteByregisterId" resultType="com.service.bean.UserInvite"
		parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM userinvite WHERE registerUserId=#{registerUserId}
	</select>

</mapper>