<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.service.api.dao.UserVerifyCodeMapper">
	<resultMap id="UserVerifyCodeResultMap" type="com.service.bean.UserVerifyCode">
		<id column="Id" property="Id" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="verifyCode" property="verifyCode" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insertUserVerifyCode" parameterType="com.service.bean.UserVerifyCode"
		keyProperty="Id">
		insert into userverifycode (phone,
		verifyCode,createTime)
		values (#{phone},
		#{verifyCode},NOW())
	</insert>
	<select id="selectCodeByphone" resultType="com.service.bean.UserVerifyCode"
		parameterType="java.lang.String">
		select * from userverifycode where Id=(
		select MAX(Id)
		from userverifycode
		where phone=#{phone} and createTime>=
		CURRENT_TIMESTAMP - INTERVAL 10 MINUTE
		group by phone)
	</select>
</mapper>