<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/cache  http://www.springframework.org/schema/cache/spring-cache.xsd">
	
	<!--多数据源配置begin -->
	<!-- <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"> -->
	<!-- <property name="url" value="jdbc:mysql://localhost:3306/test"></property> -->
	<!-- <property name="username" value="root" /> -->
	<!-- <property name="password" value="root" /> -->
	<!-- <property name="driverClassName" value="com.mysql.jdbc.Driver"></property> -->
	<!-- <property name="maxActive" value="3" /> -->
	<!-- <property name="maxWait" value="3000"></property> -->
	<!-- </bean> -->
	<bean id="siteWrite" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/myschema?zeroDateTimeBehavior=convertToNull&amp;;autoReconnect=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<!-- druid 连接池的 -->
		<property name="filters" value="stat" />
		<!--maxActive: 最大连接数量 -->
		<property name="maxActive" value="10" />
		<!--initialSize: 初始化连接 -->
		<property name="initialSize" value="5" />
	</bean>

	<bean id="siteRead" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/myschema?zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<!-- druid 连接池的 -->
		<property name="filters" value="stat" />
		<!--maxActive: 最大连接数量 -->
		<property name="maxActive" value="10" />
		<!--initialSize: 初始化连接 -->
		<property name="initialSize" value="5" />
	</bean>
	<!--多数据源配置end -->

	<!--可选，动态数据源配置 -->
	<bean id="dynamicDataSource" class="com.myErp.utils.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry value-ref="siteWrite" key="siteWrite"></entry>
				<entry value-ref="siteRead" key="siteRead"></entry>
			</map>
		</property>
		<!-- 默认数据库 -->
		<property name="defaultTargetDataSource" ref="siteRead" />
	</bean>

	<!-- 创建SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.myErp.dao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 配置事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dynamicDataSource"></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

</beans>