<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
 
	<div th:include="include :: footer"></div>
</body>
</html>
<script>
	function isWeixin() {
		var ua = navigator.userAgent.toLowerCase();
		if (ua.match(/MicroMessenger/i) == "micromessenger") {
			return true;
		} else {
			return false;
		}
	}
	$(function() {
		if (isWeixin()) {
			window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.zhzy.yj";
		} else if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
			setTimeout(function() {
				$('.mask').show();
			}, 1000);
			window.location.href = "http://itunes.apple.com/app/id1331322704";
		} else if (/(Android)/i.test(navigator.userAgent)) {
			window.location.href = "http://img.91yj.cc/TwoCode/yj.apk";
		} else {
			alert('请在移动端打开下载');
		}

	})
</script>