<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.dao.ProvinceDao">
	<resultMap id="provinceResultMap" type="com.service.bean.Province">
		<id column="provinceId" property="provinceId" jdbcType="INTEGER" />
		<result column="parentId" property="parentId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectProvinces" resultMap="provinceResultMap">
		select *
		from province
		order by provinceId
	</select>
	<select id="SelectProvincesById" resultType="com.service.bean.Province"
		parameterType="java.lang.Integer">
		SELECT * FROM province WHERE provinceId=#{provinceId}
	</select>
	
	<select id="SelectProvincesByName" resultType="com.service.bean.Province"
		parameterType="java.lang.String">
		SELECT  * FROM province WHERE name=#{name} limit 1
	</select>
</mapper>